<!DOCTYPE html>
<html>
   <body>
      <form method="post" action="/submit"  enctype="multipart/form-data">
         Full Name : <input type="text" name="full_name" value="Rahul Sharma"><br>
         Email Address : <input type="text" name="email" value="rsharma_1991@gmail.com"><br>
         Aadhar Number: <input type="text" name="aadhar_number" value="123456789012"><br>
         Permanent Account Number (PAN): <input type="text" name="pan_number" value="ABCDE1234F"><br>
         Loan Tenure: <input type="text" name="loan_tenure" value="120"><br>
         Loan Amount: <input type="text" name="loan_amount" value="1000000"><br>
         Loan Type: <input type="text" name="loan_type" value="Home Loan"><br>
         Type of Property: <input type="text" name="type_of_property" value="Residential"><br>
         <label for="files">Choose file(s) to upload</label>
         <input type="file" id="files" name="files" multiple>
         <input type="submit" value="submit">
      </form>
   </body>
</html>